/* General Styles */
body {
    overflow: hidden;
    background-color: black;
    margin: 0;
    height: 100%;
    font-family: monospace;
}

body.light-theme {
    background-color: white;
}
body.light-theme div {
    background-color:  rgba(255, 255, 255, 0.329);
}
body.light-theme button, body.light-theme #ModeSelector, body.light-theme #PlottingModeSelector{
    background-color: rgb(236, 235, 235);
    color: black;
    border-color: rgb(155, 155, 155);
}


body.light-theme .ErrorLogger {
    background-color: rgb(235, 235, 235);
    color: black;
}

body.light-theme .exceptionalDivs, .exceptionalDivs {
    background-color: inherit;
}

body.light-theme .ErrorLoggerContainer {
    background-color: transparent;
}

body.light-theme .modal {
    color: black;
}

body.light-theme input {
    color: black;
}

body.light-theme #pointDisplay {
    color: black;
}

body.light-theme .SquareButtons_Image, body.light-theme .SquareButtons_Remove{
    background-color: white;
    border-color: black;
}

/* Input and Button Styles */
textarea, input {
    margin: 5px 0 2px 5px;
    background-color: black;
    color: white;
    border: thin solid white;
    font-family: monospace;
}
input {
    border: 0;
    background-color:rgba(0, 0, 0, 0.0);
}
input:focus {
    outline: none;
    box-shadow: none;
}
button {
    margin: 5px 0 2px 5px;
    background-color: rgb(20, 20, 20);
    border: thin solid rgb(102, 102, 102);  
    color: white;
    padding: 7px 7px;
    font-family: monospace;
    width: 110px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000;
}

/* Containers and Positioning */
#NewEquation {
    width: 95%;
    position: relative;
}

#EquationDialog_save {
    width: auto;
    position: relative;
}

/* Debugging Info */
.debug {
    color: white;
    margin-left: 2px;
    padding-left: 7px;
    position: absolute;
    top: 100px;
}

/* Square Button Styles */
.SquareButtons {
    width: 28px;
    height: 27px;
    margin: 15px 0 0 10px;
    position: relative;
}
.SquareButtons_Image, .SquareButtons_Remove {
    width: 28px;
    height: 27px;
    margin-left: 3px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px 27px;
}
.SquareButtons_Image {
    background-image: url("images/edit.png");
}
body.light-theme .SquareButtons_Image {
    background-image: url("images/lightedit.png");
}
body.light-theme .SquareButtons_Remove {
    background-image: url("images/lightremove.png");
}
.SquareButtons_Remove {
    background-image: url("images/remove.png");
}

/* Canvas Layers */
#canvas, #pointCanvas, #equationCanvas, #miscCanvas {
    position: absolute;
    top: 0;
    left: 0;
}
#canvas {
    z-index: 1;
}
#equationCanvas {
    z-index: 2;
}
#miscCanvas {
    z-index: 4;
}
#pointCanvas {
    z-index: 5;
}

/* Controllers */
#PointController {
    width: 120px;
    height: auto;
}
#EquationContainer {
    position: absolute;
    top: 15px;
    left: 0;
    width: 186px;
    height: auto;
}
#ModeSelector, #PlottingModeSelector {
    position: absolute;
    top: 23px;
    z-index: 1000;
    background-color: rgb(20, 20, 20);
    color: white;
    min-height: 26px;
    padding: 7px;
    border: thin solid rgb(102, 102, 102);
    border-radius: 5px;
}
#ModeSelector {
    left: 210px;
}
#PlottingModeSelector {
    left: 310px;
}
#GraphController {
    position: absolute;
    bottom: 30px;
    left: 10px;
    display: flex; 
    gap: 2px;
    width: auto;
    align-items: center;
}

#ToggleTheme {
    background-color: white;
}

/* Modals */
.modal {
    max-height: 300px;
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.247);
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    padding-bottom: 10px;
    color: white;
    border-radius: 10px;
}
.modal input {
    margin: 6px;
}

.modal input[type="color"] {
    width: 32px;
    height: 30px;
    position: relative;
    top: 3px;
    border: 0.5px solid;
    border-radius: 5px;
}

.modal::backdrop {
    backdrop-filter: blur(10px);
}

/* Custom Menu */
#custom-menu {
    display: none;
    position: absolute;
    background-color: #1a1a1a;
    color: white;
    border: 1px solid #616161;
    border-radius: 10px;
    z-index: 1000;
}
#custom-menu div {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: inherit;
    transition: background-color 0.1s ease-in;
}
#custom-menu div:hover {
    background-color: #3f3f3f;
}

body.light-theme #custom-menu {
    display: none;
    position: absolute;
    background-color: #e6e4e4;
    color: black;
}

body.light-theme #custom-menu div:hover {
    background-color: #c5c4c4;
}


/* Point Display */
#pointDisplay {
    position: absolute;
    width: 108px;
    height: 17px;
    color: white;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.05s ease-out;
}

/* Equation UI */
.EquationUI {
    display: flex;
    gap: 2px;
}
.EquationName {
    width: 100px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

/* General Div Styles */
div {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.329);
    padding: 5px;
    z-index: 999;
}

.ErrorLoggerContainer {
    display: flex;
    background-color: transparent;
    height: fit-content;
    justify-content: center;
}

.ErrorLogger {
    position:fixed;
    right: auto;
    align-self: centre;
    top: 0;
    padding: 15px;
    background-color:#222;
    margin-top: 10px;
    border-radius: 7px;
    display: block;
    opacity: 0;
    z-index: 100;
    color: white;
    transition: opacity 0.2s ease-in, opacity 0.2s ease-out;
}

.ErrorLogger::before{
    content: "!";
    position: relative;
    font-weight: bolder;
    font-size: larger;
    color: rgb(255, 94, 0);
    margin-right: 3px;
}

a {
    color: #3594fa; 
    margin-left: 10px;
    font-weight: bolder;
    font-size: medium;
}